torch
torchvision
torchaudio
tensorflow
numpy
pandas
matplotlib
seaborn
opencv-python
pytesseract
Pillow
cython
scipy
scikit-learn
scikit-image
tqdm
nltk
pdf2image
easyocr
shapely
lap
editdistance
albumentations
lmdb
pyyaml
pyclipper
requests
detectron2
